body{
    margin: 0px;
}

#movie{
    width: 100%;
    height: 100%;

    cursor: default;
}

#interaction{
    position: fixed;
    right: 20px;
    top:10px;
}

.int_section{
    width: 200px;
    padding: 7px;
    box-shadow: 3px 3px 2px #888888;

    border: 2px solid #454545;
    background-color: #F3F3F3;

    margin-top: 7px;
}

/*Headers for interaction menu*/
h3{
    font-size: 15px;
    margin: 0px;
}

/*Text in interaction menu*/
p{
    font-size: 15px;
    margin: 7px 0px;
}

/*Popup menus for nodes and edges*/
 .option_menu{
    position: absolute;

    left: 0px;
    top: 0px;
    width: 150px;

    display: none;
 }
 .option{
    display: block;
    padding: 5px;
    font-size: 24px;
    cursor: default;

    color: #404040;
    background-color: #808080;
 }

 .option:hover{
     background-color: #DDDDDD;
 }

 .menu_btn{
     padding: 0px;
 }
